<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="zoomhaus.css">
    <style>

        .content {
            text-align: center;
        }
        .content > img {
            display: block;
            margin: 30px auto;
        }
        .grow-demo {
            position: relative;
            height: 200px;
            width: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px auto;
        }
        .grow-demo img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #overlay-content {
            display: flex;
            justify-content: center;
            margin-top: 150px;
        }
        #overlay-content button {
            font-size: 20px;
        }

    </style>
</head>
<body>
    <div class="content">

        <h1>Zoomhaus Demo</h1>
        <p>Click on any of the images below to zoom in.</p>

        <img width="500" height="500" src="http://placehold.it/500x500">
        <div class="grow-demo">
            <img width="600" height="600" src="http://placehold.it/600x1000">
        </div>
        <p>The image above is taller than it is wide, but has been cropped to fit its square container. Click to see it expand to its correct size with the `grow` option.</p>
        <img width="750" height="500" src="http://placehold.it/750x500">
        <img width="400" height="800" src="http://placehold.it/400x800">
        <img width="400" height="800" src="http://placehold.it/400x800">
    </div>

    <div id="overlay-content">
        <button class="prev">Previous Image</button>
        <button class="next">Next Image</button>
        <br/><button class="close">Close</button>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

<script>

    $('img').zoomhaus({
        template: '#overlay-content',
        //clickToExit: false
        // Sample implementation of `goto` callback:
        // goto: function(e, i, $outgoing, $incoming, toNext){
        //     console.log(e, i, toNext);
        //     console.log($outgoing);
        //     console.log($incoming);
        // }
    });

    $('body').on('click', 'button.next', function(){
        $(document).trigger('zoomhaus.next');
    });

    $('body').on('click', 'button.prev', function(){
        $(document).trigger('zoomhaus.previous');
    });

    $('body').on('click', 'button.close', function(){
        $(document).trigger('zoomhaus.close');
    });

</script>

</html>
