#zoomhaus-overlay {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 100;

    will-change: background;

    -webkit-transition: background 0.6s ease;
    transition: background 0.6s ease;
}
#zoomhaus-overlay .image-slot > * {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.zoomhaus-target {
    cursor: pointer;
}
.zoomhaus-target.active {
    visibility: hidden;
}
.zoomhaus-image {
    will-change: clip-path, transform;

    -webkit-clip-path: inset(0 0);
    clip-path: inset(0 0);

    -webkit-transition: -webkit-transform 0.6s ease, -webkit-clip-path 0.6s ease, width 0.6s ease, height 0.6s ease;
    transition: transform 0.6s ease, clip-path 0.6s ease, width 0.6s ease, height 0.6s ease;
}
.zoomhaus-open #zoomhaus-overlay {
    background: rgba(255, 255, 255, 1);
}
.zoomhaus-open .fluid-width-image-wrapper,
.zoomhaus-transitioning .fluid-width-image-wrapper {
    background-color: transparent !important;
}
.zoomhaus-transitioning .header-screen,
.zoomhaus-open .header-screen,
#zoomhaus-overlay .template-slot {
    opacity: 0;

    will-change: opacity;

    transition: opacity 0.4s;
}
.zoomhaus-open #zoomhaus-overlay .template-slot {
    opacity: 1;
}
#zoomhaus-overlay .zoomhaus-center {
    will-change: transform, clip-path;

    -webkit-transform: translate(calc(50vw - 50%), calc(50vh - 50%)) !important;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) !important;

    -webkit-clip-path: inset(0 0) !important;
    clip-path: inset(0 0) !important;
}
