#zoomhaus-overlay {
    background: rgba(255, 255, 255, 0);
    z-index: 100;

    -webkit-transition: background 0.6s ease;
    transition: background 0.6s ease;
}
.zoomhaus-target.active {
    visibility: hidden;
}
.zoomhaus-image {
    -webkit-clip-path: inset(0 0);
    clip-path: inset(0 0);

    -webkit-transition: -webkit-transform 0.6s ease, -webkit-clip-path 0.6s ease, left 0.6s ease, top 0.6s ease, width 0.6s ease, height 0.6s ease;
    transition: transform 0.6s ease, clip-path 0.6s ease, left 0.6s ease, top 0.6s ease, width 0.6s ease, height 0.6s ease;
}
.zoomhaus-open #zoomhaus-overlay {
    background: rgba(255, 255, 255, 1);
}
.zoomhaus-open .fluid-width-image-wrapper,
.zoomhaus-transitioning .fluid-width-image-wrapper {
    background-color: transparent !important;
}
.zoomhaus-transitioning .header-screen,
.zoomhaus-open .header-screen {
    opacity: 0;
}
